<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register page</title>
  </head>
  <body>

<h1>Register Page</h1>

<div class="formWrapper">
  <form class="" action="/newRobot" method="post">
    <div class="username">
      <span>Username</span>
      <input type="text" name="userName" value="">
    </div>
    <div class="password">
      <span>Password</span>
        <input type="password" name="password" value="">
    </div>
    </div>
    <div class="name">
      <label for="">Name</label>
        <input type="text" name="name" value="">
    </div>
    <div class="skills">
      <label for="">Skills</label>
        <input type="text" name="skills" value="">
    </div>
    <div class="university">
      <label for="">University</label>
        <input type="text" name="university" value="">
    </div>
    <div class="job">
      <label for="">Job</label>
        <input type="text" name="job" value="">
    </div>
    <div class="company">
      <label for="">Company</label>
        <input type="text" name="university" value="">
    </div>
    <div class="phoneNumber">
      <label for="">Phone Number</label>
        <input type="text" name="phoneNumber" value="">
    </div>
    <div class="email">
      <label for="">Email</label>
        <input type="email" name="email" value="">
      </div>
    </div>

    <div class="login">
      <!-- type should always be submit -->
      <button type="submit" name="button" value="">Register</button>
    </div>
</div>

</form>

  </body>
</html>
