.profile {
  text-align: center;
  width: 200px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.avatar {
  width: 75%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #c7c7c7;
  padding: 3px;
}

.wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.jobCompany {
  font-size: 15px;
}

.name {
  color: blue;
}

.profileAvatar {
  display: flex;
  justify-content: center;
  width: 200px;
}

.profileInfo {
  width: 500px;
  font-family: 'Open Sans', sans-serif;
}

.educationSkills {
  display: flex;
  width: 500px;
  height: 100px;
  margin-left: 80px;
  font-family: 'Open Sans', sans-serif;
}

.skills {
  margin-left: 43px;
}

.profileWrapper {
  display: flex;
}

.education-skills-1 {
  font-weight: bold;
}
.education-skills-2 {
  margin-left: 33px;
}

a {
  text-decoration: none;
}
